body {
  font-family: "Rubik Spray Paint", system-ui, sans-serif;
  font-style: normal;
  font-size: 50px;
  background-color: lightcoral;
}

.navigation-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

a:hover {
  color: lightslategray;
}

.nav-menu {
  color: black;
  font-size: 1.5rem;
}

form {
  display: inline-block;
  justify-content: center;
}

input {
  width: 50%;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
}

button {
  background-color: lightskyblue;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

li {
  padding-left: 25px;
}

.image-container-css {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 300px;
  margin: 20px 5px;
  border-radius: 10px;
}
